<% provide(:title, 'Send SMS') %>
<h1>Send your SMS here</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@message) do |m| %>
      <%= m.label :number %>
      <%= m.text_field :number%>

      <%= m.label :msg %>
      <%= m.text_field :msg%>

      <%= m.submit "Send my SMS!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
