<% provide(:title, 'Envio de mensagem em lote') %>
<h1>Selecione as características dos Doadores a serem notificados</h1>

<div id="forms">
    <%= form_tag sendonator_path, :method=> "get" do %>

    <label class="col-md-5 checkbox-list">
      <%= label_tag :name, "Nome" %>
      <%= text_field_tag :name %>

      <%= label_tag :sex, "Sexo" %> <br>
      <%= check_box_tag "sex[]", 'Masculino', false %> Masculino <br>
      <%= check_box_tag "sex[]", 'Feminino', false %> Feminino <br> <br>

      <%= label_tag :bloodType, "Tipo Sanguíneo" %> <br>
      <%= check_box_tag "bloodType[]", 'A', false %> A <br>
      <%= check_box_tag "bloodType[]", 'B', false %> B <br>
      <%= check_box_tag "bloodType[]", 'AB', false %> AB <br>
      <%= check_box_tag "bloodType[]", 'O', false %> O <br><br>

      <%= label_tag :rhFactor, "Fator rh" %> <br>
      <%= check_box_tag "rhFactor[]", '+', false %> Positivo <br>
      <%= check_box_tag "rhFactor[]", '-', false %> Negativo <br>

      <br>
      <%= label_tag :city, "Cidade" %>
      <%= text_field_tag :city%>

      <%= label_tag :apt, "Apto para doação" %>
      <%= select_tag :apt, options_for_select([['',''], ['Sim', 'Sim'], ['Não', 'Não']]) %>
    </label>

    <br><br><br>
    <%= submit_tag "Buscar" %>
    <%= link_to "Apagar campos de busca", request.path, class:"cancel-button" %>
  <% end %>

</div>
