<% provide(:title, 'Cadastro de doação') %>
<h1>Cadastro de nova doação</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@donation) do |d| %>
      <%= d.label :Doador %>
      <%= d.collection_select :donator_id, Donator.all, :id, :name %>

      <%= d.label :data_de_coleta %>
      <%= d.date_field :collectionDate %>

      <%= d.submit "Cadastrar nova doação", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
